<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Title -->
    <title>Catto shop</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="/CkEditor5/ckeditor.js"></script>
    <!-- Fav Icon -->
    <link rel="icon" href="/img/logo.jpg">

    <!-- sherah Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome-all.min.css">
    <link rel="stylesheet" href="/css/charts.min.css">
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/jvector-map.css">
    <link rel="stylesheet" href="/css/slickslider.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="sherah-dark-light">

<div class="sherah-body-area">
    <!-- sherah Admin Menu -->
    <div th:replace="~{homePage/menu :: #sherah-smenu}"></div>
    <!-- End sherah Admin Menu -->

    <!-- Start Header -->
    <div th:replace="~{homePage/header :: #sherah-header}"></div>
    <!-- End Header -->

    <!-- sherah Dashboard -->
    <section class="sherah-adashboard sherah-show">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sherah-body">
                        <!-- Dashboard Inner -->
                        <div class="sherah-dsinner">
                            <div class="row mg-top-30">
                                <div class="col-12 sherah-flex-between">
                                    <!-- Sherah Breadcrumb -->
                                    <div class="sherah-breadcrumb">
                                        <h2 class="sherah-breadcrumb__title">Chi tiết sản phẩm
                                            </Details></h2>
                                        <ul class="sherah-breadcrumb__list">
                                            <li>
                                                <a href="#">Trang chủ</a>
                                            </li>
                                            <li class="active">
                                                <a href='/products'>Chi tiết sản phẩm</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Sherah Breadcrumb -->
                                </div></div>
                            <div class="product-detail-body sherah-default-bg sherah-border mg-top-30">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <!-- Product Slider -->
                                        <div class="product-gallery">
                                            <!-- product details image -->
                                            <div class="product-details-image">
                                                <ul class="nav-pills nav flex-nowrap product-thumbs" id="pills-tab" role="tablist">
                                                    <li th:if="${imageList != null && !imageList.isEmpty()}"
                                                        th:each="image :${imageList}"
                                                        class="single-thumbs" role="presentation">
                                                        <a class="" id="pills-home-tab" data-bs-toggle="pill" th:href="'#pills-home_' + ${image.imageId}" role="tab" aria-controls="pills-home" aria-selected="true">
                                                            <img width="130px" th:src="${image.url}" alt="thumbs">
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="main-preview-image">
                                                    <div class="tab-content product-image" id="pills-tabContent">
                                                        <div th:if="${imageList != null && !imageList.isEmpty()}"
                                                             th:each="image, iterStat :${imageList}"
                                                             th:class="${iterStat.first ? 'tab-pane fade show active' : 'tab-pane fade'}"
                                                             th:id="'pills-home_' + ${image.imageId}" role="tabpanel" aria-labelledby="pills-home-tab">
                                                            <div class="single-product-image">
                                                                <img width="450px" th:src="${image.url}" alt="product">
                                                            </div>
                                                            <!-- single product image -->
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- product details image -->
                                        </div>
                                        <!-- End Product slider -->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="product-detail-body__content">
                                            <h2 class="product-detail-body__title" th:text="${product.productTitle}"></h2>
                                            <p class="product-detail-body__stats" th:text="'Đã bán ' + ${product.productSold} + ' sản phẩm'"></p>
                                            <div class="product-detail-body__deal--rating">
                                                <div class="sherah-product-card__meta sherah-dflex sherah-flex-gap-30">
                                                    <div class="sherah-product-card__rating sherah-dflex sherah-flex-gap-5">
                                                            <span class="sherah-color4">
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                        <span class="sherah-color4">
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                        <span class="sherah-color4">
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                        <span class="sherah-color4">
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <span class="sherah-color4">
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="product-detail-body__stock sherah-color3" th:text="${product.productTotal - product.productSold} + ' trong kho'"></p>
                                            </div>
                                            <!-- Sherah Product Button -->
                                            <div class="product-inside-button">
                                                <div class="sherah-button-group">
                                                    <div class="quantity">
                                                        <!-- Input Order -->
                                                        <div class="input-group">
                                                            <input disabled type="text" name="quant[1]" style="text-align: center;" data-min="1" data-max="10" th:value="${#numbers.formatDecimal(product.productPrice, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                                        </div>
                                                        <!--/ End Input Order -->
                                                    </div>
                                                    <a href="#" th:href="'/admin/update-product/' + ${product.productId}" class="sherah-btn">Cập nhật</a>
                                                    <a href="#" class="sherah-btn default" th:if="${product.productStatus == true}" id="deactiveProduct" th:data-url="${productId}">
                                                        <i class="fa-solid fa-trash fa-2xl"></i>
                                                    </a>
                                                    <a href="#" class="sherah-btn default" th:if="${product.productStatus != true}" id="deactiveProduct" th:data-url="${productId}">
                                                        <i class="fa-solid fa-trash fa-2xl" style="color: #ff0000;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End Sherah Product Button -->
                                            <div class="sherah-border-btm pd-top-40 mg-btm-40"></div>
                                            <div class="sherah-products-meta">
                                                <ul class="sherah-products-meta__list">
                                                    <li >
                                                        <span class="p-list-title" >SKU :</span>
                                                        <span class="p-list-title" th:text="${product.skuCode}">SKU :</span>
                                                    </li>
                                                    <li>
                                                        <span class="p-list-title">Category : </span>
                                                        <span class="p-list-title" th:if="${categoryParent != null && category != null}" th:text="${categoryParent.categoryName} + ' -> ' + ${category.categoryName}"></span>
                                                    </li>
                                                    <li>
                                                        <span class="p-list-title">Tags :</span>
                                                        Grown Dress, Dress, Party Dress
                                                    </li>
                                                    <li>
                                                        <span class="p-list-title">Share:</span>
                                                        <ul class="sherah-contact-info sherah-contact-social">
                                                            <li class="sherah-border">
                                                                <a href="#">
                                        <span class="sherah-color1__bg--offset">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </span>
                                                                </a>
                                                            </li>
                                                            <li class="sherah-border">
                                                                <a href="#">
                                        <span class="sherah-color1__bg--offset">
                                            <i class="fa-brands fa-twitter"></i>
                                        </span>
                                                                </a>
                                                            </li>
                                                            <li class="sherah-border">
                                                                <a href="#">
                                        <span class="sherah-color1__bg--offset">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </span>
                                                                </a>
                                                            </li>
                                                            <li class="sherah-border">
                                                                <a href="#">
                                        <span class="sherah-color1__bg--offset">
                                            <i class="fa-brands fa-instagram"></i>
                                        </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detail-body sherah-default-bg sherah-border mg-top-30">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="sherah-product-tabs mg-btm-30">
                                            <div class="sherah-product-tabs__list list-group " id="list-tab" role="tablist">
                                                <a class="list-group-item active" data-bs-toggle="list" href="#p_tab_1" role="tab">Chi tiết sản phẩm</a>
                                                <a class="list-group-item" data-bs-toggle="list" href="#p_tab_3" role="tab">Đánh giá sản phẩm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="p_tab_1" role="tabpanel" aria-labelledby="nav-home-tab" th:utext="${product.productDescription}">
<!--                                                <textarea name="cont" id="cont" rows="10" cols="80" th:field="${product.productDescription}"></textarea>-->
                                            </div>
                                            <div class="tab-pane fade" id="p_tab_3" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <!-- Sherah Review -->
                                                <div class="sherah-user-reviews">
                                                    <div th:if="${commentList != null && !commentList.isEmpty()}" th:each="comment : ${commentList}"
                                                         class="media mb-4">
                                                        <img src="/img/icon_avtar_comments.png" alt="Image" class="mr-3 mt-1"
                                                             style="width: 45px;">
                                                        <div class="media-body">
                                                            <div class="d-flex">
                                                                <h6 style="margin-top: 3px;" th:text="${userMap.get(comment.userId).name}"></h6>
                                                                <div th:if="${comment.rating == 5}" class="text-primary ml-2 mb-2">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div th:if="${comment.rating == 4}" class="text-primary ml-2 mb-2">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div th:if="${comment.rating == 3}" class="text-primary ml-2 mb-2">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div th:if="${comment.rating == 2}" class="text-primary ml-2 mb-2">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div th:if="${comment.rating == 1}" class="text-primary ml-2 mb-2">
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <small th:text="${#dates.format(new java.util.Date(comment.date), 'dd/MM/yyyy')}"></small>
                                                            <p th:text="${comment.summary}">Thành Phần và Công Năng Tác Dụng:</p>
                                                            <p th:text="${comment.comments}">- Taurine: Axit amin thiết yếu cho hoạt động của mắt và
                                                                cải thiện thị lực
                                                                của
                                                                mèo</p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End Sherah Review -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Dashboard Inner -->
                    </div></div></div></section>
    <!-- End sherah Dashboard -->
</div>

<!-- Sherah Scripts -->
<script th:src="@{/js/sweetalert.min.js}"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/charts.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/jquery-jvectormap.js"></script>
<script src="/js/jvector-map.js"></script>
<script src="/js/slickslider.min.js"></script>
<script src="/js/main.js"></script>

<script src="/js/final-countdown.min.js"></script>
<script src="/js/fancy-box.min.js"></script>
<script src="/js/fullcalendar.min.js"></script>
<script>
    $('.button.plus').on('click', function () {
        // var $qty = $('.input-number');
        var $button = $(this);
        var $input = $button.closest('.quantity').find("input.input-number");
        var currentVal = parseInt($input.val(), 10);
        if (!isNaN(currentVal)) {
            $input.val(currentVal + 1);
        }
    });
    $('.button.minus').on('click', function () {
        var $qty = $('.input-number');
        var $button = $(this);
        var $input = $button.closest('.quantity').find("input.input-number");
        var currentVal = parseInt($input.val(), 10);
        if (!isNaN(currentVal) && currentVal > 1) {
            $input.val(currentVal - 1);
        }
    });
</script>
<script>
    document.getElementById("deactiveProduct").addEventListener("click", function (event) {
        event.preventDefault();
            swal({
                title: "Are you sure?",
                icon: "success",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        var url = this.getAttribute('data-url');
                        window.location.href = "/admin/deactive/" + url;
                    }
                });
    });
</script>
</body>
</html>